# GEMINI_API_KEY: Required for Gemini AI API calls.
GEMINI_API_KEY=MY_GEMINI_API_KEY
GEMINI_BACKUP_API_KEY=MY_GEMINI_BACKUP_API_KEY

# FIREBASE_API_KEY: Required for Firebase services
FIREBASE_API_KEY=AIzaSyLocaliiiyFirebaseApiKeyMock

# MAPS_API_KEY: Required for Google Maps SDK
MAPS_API_KEY=AIzaSyLocaliiiyMapsRadarApiKeyForDev
