# Localiiiy Project Ignores
*.iml
.gradle
.kotlin
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
.env
debug.keystore

# Force Include App Installer and Assets
!assets/
!Localiiiy.apk
!manifest.json
!sw.js
!404.html
!metadata.json
